<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar__container tracking-in-contract">
    <a title="Desk Monster" href="#"
      ><h1 class="toolbar__container--title tracking-in-contract">
        Desk Monster
      </h1></a
    >
    <a title="Desk Monster" href="#"
      ><img
        class="toolbar__container--logo"
        src="../../../assets/images/DeskMonster.svg"
        alt="Logo"
    /></a>
  </mat-toolbar-row>
  <!-- FIN BARRA NOMBRE Y LOGO -->

  <ng-container *ngIf="isAdmin == 'admin'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>

  <mat-toolbar-row class="toolbar__container--menu">
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login"
      >Login</a
    >

    <a *ngIf="isAdmin == 'admin'" mat-button routerLink="/admin">Admin</a>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Logout</a>
</ng-template>
