<div class="compose__container--BG">
  <div class="compose__container">
    <h2 class="compose__text">Nuevo mensaje</h2>
    <form
      class="form__compose__container"
      [formGroup]="composeForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field class="compose__container--item" appearance="outline">
        <mat-label>Dirección</mat-label>
        <mat-select formControlName="destinatario">
          <mat-option *ngFor="let array of arrayUsers" [value]="array">{{
            array
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="compose__container--item" appearance="outline">
        <mat-label class="label">Mensaje</mat-label>
        <textarea
          matInput
          formControlName="mensaje"
          placeholder="Ingrese su mensaje"
          maxlength="140"
        ></textarea>
        <mat-hint> Max 140 caracteres </mat-hint>
      </mat-form-field>

      <div class="compose__container--btn">
        <button
          mat-flat-button
          [ngStyle]="{ color: '#CCC9DC' }"
          type="submit"
          [disabled]="!composeForm.valid"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
